@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,600&family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

section .grid {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
  margin: 0 0 20px 0;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #ededed;
  overflow: hidden;
}

.item img {
  width: 600px;
  object-fit: cover;
}

.single-image {
  width: 400px;
}

.home-button {
  font-size: 20px;
  float: right;
  background-color: #efe0dc;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000000;
  margin-right: 10px;
}

.home-header {
  width: 100%;
  height: 80px;
  background: #efe0dc;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80px;
  }
}

.home-footer {
  width: 100%;
  height: 50px;
  background: #efe0dc;
  color: #a6a6a6;
  display: flex;
  align-items: center;
  justify-content: center;
}

// INPUT

.input-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  margin: 20px 20px 20px 10px;
  height: 30px;
  width: 300px;
  border: solid 1px #a6a6a6;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

input:focus {
  border: none;
}

::placeholder { 
  padding-left: 10px;
}

button {
  background: none;
  border: solid 1px #a6a6a6;
  height: 30px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

// IMAGE PAGE
.image-page {
  width: 100%;
}

.single-image {
  position: absolute;
  left: 25%;
  z-index: 0;
}

.selected {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;

  button {
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
  }
}

a:-webkit-any-link {
  text-decoration: none;
  color: #333333;
}

.bg-1 {
  background-color: #efe0dc;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    object-fit: contain;
    max-height: 500px;
  }
}

.bg-2 {
  display: flex;
  flex-direction: column;
  background-color: #eeeeef;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 400px;
  background-color: white;
  border-radius: 8px;
  z-index: 2;
  margin-right: 100px;
  margin-left: 100px;
}

.paragraph {
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 40px;
  margin: 0px 40px 40px 40px;
  max-width: 500px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #333333;
  font-size: 28px;
  margin: 40px 40px 30px 40px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #898989;
  font-size: 15px;
  margin: 0px 0px 8px 40px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #333333;
  font-size: 20px;
  margin: 0px 40px 30px 40px;
  max-width: 500px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

// LOADING
.loading {
  height: 100vh;
  width: 100%;
  background-color: #efe0dc;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 40px;
  }
}

// Media Query

@media only screen and (max-width: 1200px) {
  .single-image {
    left: 10%;
  }

  .bg-1 img {
    object-fit: contain;
    max-height: 400px;
  }
}

@media only screen and (max-width: 700px) {

  .selected {
    flex-direction: column;
  }

  .bg-1 {
    align-content: center;
    align-items: center;

    img {
      object-fit: contain;
      max-height: 300px;
    }
  }

  .box {
    position: relative;
    display: block;
    z-index: 2;
    margin: 40px 30px 40px 30px;
    min-width: 300px;
  }

  .single-image {
    position: relative;
    z-index: 0;
    margin-top: 80px;
    margin-bottom: 40px;
    left: auto;
  }

  .selected button {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  section .grid {
    height: 400px;
    width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  section .grid {
    height: 300px;
    width: 300px;
  }
}



// @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

// * {
//   box-sizing: border-box;
// }

// body {
//   width: 100vw;
//   display: flex;
//   flex-direction: column;
//   margin: 0;
//   padding: 0;
//   font-family: 'Montserrat', sans-serif;
// }

// div {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-content: center;
// }

// #root {
//   display: flex;
//   flex-direction: column;
//   align-content: center;
//   justify-content: space-between;
//   align-items: center;
//   height: 100vh;
// }

// main {
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   align-content: space-between;
// }

// section .grid {
//   height: 500px;
//   width: 500px;
//   display: grid;
//   grid-template-columns: repeat(8, 12.5%);
//   grid-template-rows: repeat(8, 12.5%);
//   margin: 0 0 20px 0;
// }

// .item {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
//   border: 1px solid #ededed;
//   overflow: hidden;
// }

// .item img {
//   width: 600px;
//   object-fit: cover;
// }

// .single-image {
//   width: 400px;
// }

// .home-button {
//   font-size: 20px;
//   float: right;
//   background: white;
//   width: 100px;
//   height: 50px;
//   border-radius: 10px;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   color: #000000;
//   margin-right: 10px;
// }

// .navbar {
//   width: 100%;
//   height: 80px;
//   background: #a6a6a6;

//   img {
//      width: 80px;
//   }
// }

// .home-header {
//   width: 100%;
//   height: 80px;
//   background: #a6a6a6;
//   display: flex;
//   align-items: center;
//   justify-content: center;
  
//   img {
//     width: 80px;
//  }
// }

// .input-section {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
// }

// input {
//   margin: 20px;
//   height: 30px;
//   width: 300px;
//   border: solid 1px #a6a6a6;
//   border-radius: 4px;
//   font-family: 'Montserrat', sans-serif;
// }

// input:focus {
//   border: none
// }

// button {
//   background: none;
//   border: solid 1px #a6a6a6;
//   height: 30px;
//   border-radius: 4px;
//   font-family: 'Montserrat', sans-serif;
// }

// .home-footer {
//   width: 100%;
//   height: 50px;
//   background: #a6a6a6;
//   color: #ffffff;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// @media screen and (max-width: 600px){
//   section .grid {
//     height: 500px;
//     width: 500px;
//   }
// }

// @media screen and (max-width: 500px){
//   section .grid {
//     height: 400px;
//     width: 400px;
//   }
// }

// @media screen and (max-width: 400px){
//   section .grid {
//     height: 300px;
//     width: 300px;
//   }
// }

// // IMAGE PAGE
// .single-image  {
//   position: absolute;
//   left: 20%;
//   z-index: 0;
//   }
  
//   .selected {
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     flex-direction: row;
//   }
  
//   .bg-1 {
//    background-color: #EFE8E6;
//    flex: 2;
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//   }
  
//   .bg-2 {
//     display: flex;
//     flex-direction: column;
//     background-color: #EEEEEF;
//     flex: 3;
//     flex-direction: column;
//     justify-content: center;
//     align-content: center;
//     align-items: center;
//   }
  
//   .box {
//     display: flex;
//     flex-direction: column;
//     width: fit-content;
//     background-color: white;
//     border-radius: 8px;
//     z-index: 2;
//     margin-right: 100px;
//   }
  
//   h1 {
//     font-family: 'Raleway', sans-serif;
//     font-weight: 300;
//     color: #333333;
//     font-size: 28px;
//     margin: 40px 40px 30px 40px;
//   }
  
//   h2 {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 500;
//     color: #898989;
//     font-size: 15px;
//     margin: 0px 0px 8px 40px;
//   }
  
//   h3 {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 300;
//     color: #333333;
//     font-size: 20px;
//     margin: 0px 0px 30px 40px;
//     max-width: 500px;
//   }
  

//   .paragraph {
//     height: 200px;
//     overflow-y: scroll;
//     margin-bottom: 40px;
//   }

//   p {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 300;
//     color: #333333;
//     font-size: 16px;
//     margin: 0px 40px 40px 40px;
//     max-width: 400px;
//   }